/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

 html, body {
    height:100%;
       width:100%;
       margin:0;
   }

   #content {
        height:100%;
         width:100%;
        display:table;
 }

nav {
background-color: blue;

}

#titulo{

  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding-top: 56px;
}


a{

  color:black;
}

a:hover{

  color:white;
}



